{% extends 'base.html.twig' %}

{% block title %}Boutique{% endblock %}

{% block body %}
    <h1>Boutique</h1>
    <p>Bienvenue dans la boutique. Ici, vous pouvez acheter des cours et des leçons.</p>
{% endblock %}
